code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}
*:hover {
  text-decoration: none;
}
html,
body {
  line-height: 1;
}

html._lock,
body._lock {
  overflow: hidden;
}

/*====================================================================================*/
a {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  text-decoration: none !important;
}

a:active,
a:focus {
  outline: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

/*
  main styles
*/

.header {
  position: relative;
  z-index: 11;
  background: #fff;
}
.header .main_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}
#root {
  position: relative;
  height: 100%;
  min-height: 100vh;
}
h1 {
  line-height: 1.4;
}
h2.page_title {
  font-size: 42px;
  line-height: 160%;
  color: #1d1f22;
  font-weight: 400;
  padding: 80px 0;
}

.black_href {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(57, 55, 72, 0.22);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.black_href._active {
  opacity: 1;
  visibility: visible;
}

.controls_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.drop_down_cont {
  position: relative;
}
.drop_down_cont .drop_down_body {
  position: absolute;
  top: calc(100% + 10px);
  left: -20px;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  background: #fff;
}
.drop_down_cont .drop_down_body .drop_item {
  padding: 20px 40px 20px 20px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
  font-size: 18px;
  color: #1d1f22;
}
.drop_down_cont .drop_down_body .drop_item:hover {
  background: #eaeaea;
}

.drop_down_cont .drop_down_title {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.drop_down_title .arrow {
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.drop_down_title .arrow._active {
  transform: rotate(180deg);
}

.for_whom_container {
  display: flex;
  align-items: stretch;
}
.for_whom_btn {
  background: #0000;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  padding: 30px 16px;
  border-bottom: 2px solid #0000;
  font-size: 16px;
  text-transform: uppercase;
}
.for_whom_btn._active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.catalog_container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.catalog_container .product_card_small {
  flex: 0 1 calc(33.333% - 40px);
  margin: 0 20px 100px;
  padding: 16px;
  transition: 0.2s;
  position: relative;
}
.catalog_container .product_card_small._out_of_stock {
  pointer-events: none;
}
.catalog_container .product_card_small._out_of_stock::after {
  background: rgba(255, 255, 255, 0.6);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.catalog_container .product_card_small._out_of_stock .out_of_stock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 160%;
  color: #8d8f9a;
  z-index: 10;
}

.catalog_container .product_card_small:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.347);
}

.catalog_container .product_card_small .img {
  position: relative;
  padding-bottom: 90%;
}

.catalog_container .product_card_small .img .add_to_card_in_item {
  position: absolute;
  bottom: 0;
  right: 15px;
  transform: translate(0, 50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #5ece7b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}
.catalog_container .product_card_small:hover .img .add_to_card_in_item {
  opacity: 1;
  visibility: visible;
}

.catalog_container .product_card_small .img .illustation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalog_container .product_card_small .item_name {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  margin-top: 24px;
}
.catalog_container .product_card_small .item_price {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
}

.big_card {
  margin-top: 80px;
}
.big_card .main_wrapper {
  display: flex;
  align-items: flex-start;
}
.img_slider {
  display: flex;
  align-items: flex-start;
  flex: 0 1 730px;
  margin-right: 10%;
}
.img_slider .left_part {
  flex: 0 1 80px;
  margin-right: 40px;
}
.img_slider .left_part .img {
  height: 80px;
  margin-bottom: 40px;
  cursor: pointer;
}
.img_slider .left_part .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img_slider .right_part {
  flex: 0 1 610px;
  position: relative;
  padding-bottom: 70%;
}
.img_slider .right_part img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.big_card .text_part {
  flex: 0 1 300px;
}
.big_card .text_part .category {
  text-transform: capitalize;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 30px;
  color: #1d1f22;
}
.big_card .text_part .name {
  font-size: 30px;
  color: #1d1f22;
  margin-bottom: 40px;
}
.big_card .text_part .price_container {
  margin-bottom: 20px;
}
.big_card .text_part .price_container .price_title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.big_card .text_part .price_container .price {
  font-weight: bold;
  font-size: 24px;
  color: #1d1f22;
}
.big_card .text_part .desc {
  font-size: 16px;
  line-height: 159.96%;
  color: #1d1f22;
}

.attribute_container .attribute_set_container {
  margin-bottom: 40px;
}
.attribute_container .attribute_set_container .attr_title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.attribute_set_container .controls {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.attribute_set_container .controls .attribute_item {
  margin-right: 14px;
  margin-bottom: 14px;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #a6a6a6;
  padding: 13px 23px;
  border: 1px solid #a6a6a6;
  background: #fff;
  cursor: pointer;
}
.attribute_set_container .controls .attribute_item._active {
  background: #1d1f22;
  border: 1px solid #1d1f22;
  color: #ffffff;
}

.add_to_cart_btn {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px;
  background: #5ece7b;
  border: none;
  transition: 0.2s;
  width: 100%;
  cursor: pointer;
  text-align: center;
  margin-bottom: 40px;
}
.add_to_cart_btn:focus {
  box-shadow: 0 0 20px 0px #5ece7c8b;
}

.cart {
  position: relative;
}
.cart.open .cart_body {
  opacity: 1;
  visibility: visible;
}
.cart .cart_icon {
  cursor: pointer;
}
.cart .cart_body {
  position: absolute;
  top: calc(100% + 29px);
  right: 0;
  width: 350px;
  z-index: 10;
  background: #fff;
  padding: 13px 20px;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}
.cart .cart_body .cart_body_header {
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin-bottom: 20px;
}
.cart .cart_body .cart_body_header span {
  font-weight: 600;
}
.product_in_cart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}
.product_in_cart .left_part {
  flex: 0 1 150px;
  margin-right: 20px;
  margin-bottom: -8px;
}
.product_in_cart .left_part .title {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin-bottom: 5px;
}
.product_in_cart .left_part .price {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin-bottom: 20px;
}
.product_in_cart
  .left_part
  .attributes_cont
  .attribute_set_container
  .controls {
  flex-wrap: wrap;
  margin-top: 5px;
}
.product_in_cart
  .left_part
  .attributes_cont
  .attribute_set_container
  .controls
  .attribute_item {
  padding: 0;
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0 5px;
}
.product_in_cart
  .left_part
  .attributes_cont
  .attribute_set_container
  .controls
  .attribute_item._swatch {
  font-size: 0;
}
.product_in_cart
  .left_part
  .attributes_cont
  .attribute_set_container
  .controls
  .attribute_item._swatch._active {
  border: 2px solid #1d1f22;
}
.product_in_cart .right_part {
  flex: 0 1 140px;
  display: flex;
  align-items: stretch;
}
.product_in_cart .right_part .slider {
  flex: 1 1 auto;
}
.product_in_cart .right_part .calc {
  flex: 0 0 24px;
  margin-right: 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.product_in_cart .right_part .calc button {
  border: 1px solid #1d1f22;
  background: #fff;
  height: 24px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}
.cart .cart_body .cart_footer .total {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #1d1f22;
  margin-bottom: 35px;
}
.cart .cart_body .cart_footer .cart_btns {
  display: flex;
  align-items: stretch;
  gap: 12px;
}
.cart .cart_body .cart_footer .cart_btns button,
.cart .cart_body .cart_footer .cart_btns a {
  flex: 0 1 50%;
  display: block;
  padding: 13px;
  cursor: pointer;
}
.cart .cart_body .cart_footer .cart_btns .black_btn {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #1d1f22;
  border: 1px solid #1d1f22;
  background: #fff;
}
.cart .cart_body .cart_footer .cart_btns .green_btn {
  background: #5ece7b;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.cart_page_container .product_in_cart {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
  align-items: flex-start;
}
.cart_page_container .product_in_cart .left_part {
  flex: 0 1 50%;
}
.cart_page_container .product_in_cart .left_part .title {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  margin-bottom: 22px;
}
.cart_page_container .product_in_cart .left_part .price {
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  margin-bottom: 20px;
}
.cart_page_container .product_in_cart .right_part {
  flex: 0 1 200px;
  height: 185px;
}
.cart_page_container .product_in_cart .right_part .calc {
  flex: 0 0 45px;
}
.cart_page_container .product_in_cart .right_part .calc button {
  height: 45px;
  font-size: 26px;
}
.cart_page_container
  .product_in_cart
  .left_part
  .attributes_cont
  .attribute_set_container
  .controls {
  margin-top: 15px;
}
.cart_page_container
  .product_in_cart
  .left_part
  .attributes_cont
  .attribute_set_container
  .controls
  .attribute_item {
  padding: 12px 20px;
  height: unset;
  width: unset;
}

.cart_slider {
  height: 100%;
  position: relative;
}
.cart_slider .slider_body {
  position: relative;
  height: 100%;
}
.cart_slider .slider_body .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.2s;
}
.cart_slider .slider_body .slide._active_slide {
  opacity: 1;
}
.cart_slider .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 2;
  background: #0000;
  border: none;
}
.cart_slider .arrow.arrowLeft {
  left: 0;
  transform: translate(0, -50%);
}
.cart_slider .arrow.arrowRight {
  right: 0;
  transform: translate(0, -50%) scale(-1, 1);
}

.no_products {
  font-size: 30px;
  font-weight: 300;
}
