{
  "env": {
    "browser": true
    // "jest": true,
    // "es6": true
  },
  "extends": [
    "prettier",
    // "prettier/standard",
    // "prettier/react",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended"
  ],
  "plugins": ["prettier", "react", "import", "sonarjs"],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "globals": {
    "Promise": "readonly",
    "Set": "readonly",
    "process": "readonly",
    "module": "readonly"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "react/prop-types": "off",
    "react/display-name": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
